.glassy-button {
    position: relative;
    /* display: inline-block; */
    padding: 10px 20px;
    font-size: 18px;
    /* text-align: center;
    text-decoration: none; */
    /* color: #ffffff; */
    background-color: #c1a4fa; /* Light purple background color */
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.glassy-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    border-radius: 5px 5px 0 0;
}

.glassy-button:hover {
    background-color: #b193d3; /* Darker purple on hover */
    cursor: pointer;
    font-weight: bold;
}
